---
import { getTmdbInfo } from "../services/movies";
import { URL_IMG } from "../consts/api";
import type { Movie, MovieResponse } from "../types/movies";

// Get random movies

interface Props {
  movies: Movie[] 
}

const { movies } = Astro.props;
---

<div class="flex flex-wrap gap-x-5 gap-y-2 w-full justify-center">
  {
    movies.map(async (movie) => {
      const movieInfo = await getTmdbInfo(movie.id!);
      return (
        <a
          class="w-fit"
          href={`/movie/${movie.id}`}
          transition:name={`card-${movie.id}`}
          transition:animate="slide"
        >
          <img
            class="w-[200px] h-auto"
            src={URL_IMG(movieInfo.poster_path!)}
            alt=""
          />
          <p class="w-[150px] text-body-14">{movie.title}</p>
        </a>
      );
    })
  }
</div>
