---
import { URL_IMG } from "../../consts/api";
import Layout from "../../layouts/Layout.astro";
import { getRecommendations, getTmdbInfo } from "../../services/movies";
import moviesJson from "../../content/movies/movies.json";
import ListMovies from "../../components/ListMovies.astro";
import type { Movie } from "../../types/movies";

export async function getStaticPaths() {
  const movies = moviesJson;
  return movies.map((movie) => ({
    params: { id: (movie.id ?? "").toString() },
    props: { movie },
  }));
}

const { movie } = Astro.props;
const movieInfo = await getTmdbInfo(movie.id!);
const recomendations = await getRecommendations(movieInfo.title!);

export const prerender = true;
---

<Layout title={movie?.title ?? "Movie"}>
  <section class="w-fit flex">
    <a
      class="w-fit"
      href={`/movie/${movie.id}`}
      transition:name={`card-${movie.id}`}
    >
      <img
        class="w-[200px] h-auto"
        src={URL_IMG(movieInfo.poster_path!)}
        alt=""
      />
    </a>
    <div class="flex flex-col">
      <h5 class="w-[150px] text-body-20">{movie.title}</h5>
      <p>{movie.overview}</p>
    </div>
  </section>
  <h4>Recomendaciones</h4>
  <ListMovies movies={recomendations.movie_response as Movie[]} />
</Layout>
