---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Movies Recomender">
  <div class="grid place-content-center place-items-center">
    <header>
      <h1>Movies Recomender</h1>
    </header>
    <section>
		
	</section>
    <section></section>
    <section></section>
  </div>
</Layout>

<style></style>
